body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .container {
            max-width: 500px;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }
        .section {
            display: none;
        }
        .section.active {
            display: block;
        }
        .progress-bar {
            height: 10px;
            background-color: #f5f5f5;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .progress {
            height: 100%;
            background-color: #007bff;
            border-radius: 5px;
            transition: width 0.3s;
        }
        h2 {
            margin-top: 0;
            margin-bottom: 20px;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        select, input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f8f8;
        }
        input{
            width: 100%;
            padding: 3px;
        }
        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }